html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

/* DELETE THESE
header {
  border: 1px solid red;
}

nav {
  border: 1px solid blue;
}

div {
  border: 1px solid green;
}
/* DELETE ABOVE */
.banner {
  background-image: url('../images/glasses-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 34rem;
  width: 100%;
  padding-top: 1rem;
}

.banner nav {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.logo-box a {
  text-decoration: none;
  color: white;
}

.menu {
  padding-right: 1rem;
}

nav div {
  display: flex;
  align-items: center;
}

ul a {
  margin: 1rem;
  text-decoration: none;
  color: white;
}

ul a li {
  display: inline;
}

header div.container {
  display: flex;
  justify-content: flex-end;
}

.tagline {
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
}

.tagline h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.tagline-text {
  padding: 1.5rem 5rem;
}

.solutions {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 5rem;
  margin: 3rem;
  height: 8rem;
}

.icon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.icon-image img {
  max-width: 5rem;
  max-height: 5rem;
  align-items: center;
}

.icon-text {
  display: inline-block;
  text-align: center;
}

.info-container {
  display: flex;
}

.info {
  width: 35%;
}

#philosophy {
    margin-right: 5%;
}

.info-header-text {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 1.25rem;
  width: 10rem;
}

.info-header-description {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.info-header-description {
  line-height: 1.25;
}

.info-header-description a {
  text-decoration: none;
}

footer {
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
}

.footer-logo {
  padding: 4rem 1rem 4rem 4rem;
}

.footer-span {
  text-decoration: none;
  color: black;
}
