html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

/* DELETE THESE
header {
  border: 1px solid red;
}

nav {
  border: 1px solid blue;
}

div {
  border: 1px solid green;
}
/* DELETE ABOVE */
.banner {
  background-image: url('../images/glasses-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 34rem;
  padding-top: 1rem;
}

.banner nav {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.logo-box a {
  text-decoration: none;
  color: white;
}

.menu {
  padding-right: 1rem;
}

nav div {
  display: flex;
  align-items: center;
}

ul a {
  margin: 1rem;
  text-decoration: none;
  color: white;
}

ul a li {
  display: inline;
}

.mobile-nav {
  display: none;
  padding: 0.75rem 0;
}

header div.container {
  display: flex;
  justify-content: flex-end;
}

.tagline {
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
}

.tagline h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.tagline-text {
  padding: 1.5rem 5rem;
}

.solutions {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 5rem;
  margin: 3rem;
  height: 8rem;
}

.icon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.icon-image img {
  max-width: 5rem;
  max-height: 5rem;
  align-items: center;
}

.icon-text {
  display: inline-block;
  text-align: center;
}

.info-container {
  display: flex;
}

.info {
  width: 35%;
}

#philosophy {
    margin-right: 5%;
}

.info-header-text {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 1.25rem;
  width: 10rem;
}

.info-header-description {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.info-header-description {
  line-height: 1.25;
}

.info-header-description a {
  text-decoration: none;
}

footer {
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
}

.footer-logo {
  padding: 4rem 1rem 4rem 4rem;
}

.footer-span {
  text-decoration: none;
  color: black;
}



/*   MEDIA QUERIES   */
/*iPad 4th gen and below*/
@media only screen and (max-width: 1024px) {
  .banner {
    padding-top: 0;
    height: 22rem;
  }
  .banner .container {
    max-width: 100%;
  }
  .container {
    width: 100%;
  }
  .tagline {
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .tagline-text {
    padding: 0.75rem 4rem;
  }
  .tagline h1 {
    font-size: 1.33rem;
  }
  .info-container {
    justify-content: space-around;
  }
}




/*Change container width to 100%*/
@media only screen and (max-width: 960px) {
  .mobile {
    font-size: 16px;
  }
}




/*Samsung Galaxy S7*/
@media only screen and (max-width: 640px) {
  .banner {
    background-position: 20%;
    height: 17rem;
  }
  .banner nav {
    background-color: goldenrod;
  }
  .logo-text {
    display: none;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .tagline {
    padding: 0 1rem;
    margin: 9rem auto 0 auto;
    width: 100%;
    text-align: center;
  }
  .solutions {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    justify-content: flex-start;
  }
  .icon {
    margin-top: 3rem;
    height: auto;
    margin: 0.77rem;
    font-size: 0.77rem;
  }
  .icon-text {
    margin-top: 1rem;
  }
  .info-container {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    justify-content: flex-start;
  }
  .info {
    width: auto;
  }
  .info .info-header-text {
    width: 100%;
    max-width: 100%;
    background-color: goldenrod;
  }
  .info-header-description {
    padding: 0 2rem;
  }
  #philosophy {
    margin-right: 0;
  }
  footer {
    justify-content: center;
    background-color: lightgoldenrodyellow;
    margin: auto;
  }
  .footer-logo {
    padding: 4rem 0;
  }
  .footer-span {
    display: none;
  }
}



/*Very old phones, or poor graphics cards*/
@media only screen and (max-width: 480px) {
  .banner {
    background-position: 20%;
    height: 14rem;
  }
  .tagline {
    margin: 10rem auto 3rem auto;
  }
  .tagline-text {
    padding: 0.5rem 3rem;
  }
  .tagline h1 {
    font-size: 1rem;
  }
}



/*Just in case when we go to columns*/
@media only screen and (max-width: 220px) {
  .icon {
    margin-top: 2rem;
  }
}
